
* {
    margin: 0;
    padding: 0;
    font-family: 'Gideon Roman', cursive;
}

body {
    /*border: 5px red solid;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.inputs-container {
    border: 5px white solid;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    height: 65%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.range-input-container {
    align-self: center;
    /*border: 3px black solid;*/
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.range-input {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

#size {
    margin-top: 0.5rem;
    -webkit-appearance: none;
    background: #000;
    outline: none;
    border: 5px solid lawngreen;
    border-radius: 8px;
}

#size::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.size-button {
    margin-top: 1.5rem;
    margin-right: 2.5rem;
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    background-color: darkorchid;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.size-button:hover {
    cursor: pointer;
}

.color-container {
    align-self: center;
    /*border: 3px yellowgreen solid;*/
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-container form label {
    margin-right: 1rem;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.erase-container {
    display: flex;
    align-self: center;
    /*border: 3px darkgoldenrod solid;*/
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.erase-container button {
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    background-color: darkorchid;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.erase-container button:hover {
    cursor: pointer;
}

.container {
    border: 5px white solid;
    display: flex;
    flex-flow: column;
    height: 65%;
    width: 40%;
}











